<td><%= no %></td>
<td><%= question %></td>
<td class="text-center"><%= activity.good_answers + "/" + activity.total_answers %></td>
<td class="text-center"><%= activity.reliability %></td>
<td><% _created_at = new DateFormat("yyyy-MM-ddTHH:mm:ss.SSSZ").parse(created_at) %>
    <%= new DateFormat("yyyy/MM/dd  HH:mm").format(_created_at) %></td>
<td>
<% if (!is_archive) { %>
    <a href="#/<%= id %>/edit" class="btn btn-xs btn-info">Edit</a>
    <a href="#/<%= id %>/archive" class="btn btn-xs btn-warning">Archive</a>
<% } else { %>
    <a href="#/<%= id %>/unarchive" class="btn btn-xs btn-info">UnArchive</a>
<% } %>
</td>
