    <!-- Modal -->
    <div id="modal-test-question" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title"><%= "Question #" + (question.is_ext ? "External": question.no) %></h4>
            </div>
            <div class="modal-body">
                <div class="question-label">
                    <p><%= question.question %></p>
                </div>
                <hr>
                <div class="question-input">
                    <form id="test-answer" name="test-answer" class="form">
                        <textarea name="answer" id="answer" class="form-control" value="" rows="5" autofocus="autofocus" ></textarea>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" id="test-ok" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal-test-answer" class="modal-dialog hidden">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Answer Rating</h4>
            </div>
            <div class="modal-body">
                <div id="your-answer">
                    <div class="col-md-3 raty-answer"></div>
                    <div class="col-md-9 answer-insert"><!-- your answer --></div>
                </div>
                <hr>
                <div id="card-comment">
                    <div class="col-md-1"></div>
                    <div class="col-md-10"><%= question.comment %></div>
                    <div class="col-md-1"></div>
                </div>
                <br/>
                <div id="best-answers" class="table-responsive">
                    <table id="cards-table" class="table table-striped">
                        <thead>
                            <tr>
                              <th class="col-md-3">Best Answers</th>
                              <th class="col-md-9"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <% for( var i = 0; i < question.answers.length; i++ ) { %>
                            <tr>
                                <td><div class="raty" data-score="<%= question.answers[i].rate %>"></div></td>
                                <td><%= question.answers[i].answer %></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="test-next" class="btn btn-primary">OK</button>
                <% if (question.is_ext) { %>
                    <button type="button" id="test-clone" class="btn btn-warning">Clone</button>
                <% } %>
                <div class="raty-answer-big"></div>
            </div>
        </div>
    </div>

